UE4Project/Build/*
UE4Project/Intermediate/*
UE4Project/Saved/*
UE4Project/Content/Collections
UE4Project/Content/Developers

Dungeons/**/*.uasset
Dungeons/**/*.ubulk
Dungeons/**/*.uexp

*Default*/*
*.lnk

Tools/settings/*
Tools/settings/editor_directory.txt
Tools/settings/game_directory.txt
